/* ============ IMPORTS =========== */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container {
  width: 1100px;
}

#graphic {
  padding-top: 60px;
}

#source {
  background-color: #fff;
  text-align: right;
  font-size: 12px;
}

#sections {
  position: relative;
  display: inline-block;
  width: 350px;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
  padding-right: 20px;
}

.step {
  margin-bottom: 200px;
font-family: 'Noto Sans', 'Noto Sans SC', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #767678;
}

.grades {
  font-size: 22px;
  line-height: 1.3;
  list-style-type: decimal;
}

.slide {
  text-align: justify;
  font-size: 22px;
  line-height: 3;
}

iframe {
  border: 0;
  height: 600px;
  overflow: hidden;
}

a {
  color: black;
  background-color: #a3fff5;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: #141414;
  color: #FFF;
  text-decoration: none;
}

#scpologo {
  top: 0;
  height: 40px;
  left: 80%;
  position:fixed;
  padding: 10px;
}

#sections .title {
font-family: 'Noto Sans', 'Noto Sans SC', sans-serif;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;
  height: 600px;
  width: 600px;
}

#vis .title {
  font-size:120px;
  text-anchor: middle;
}

#vis .sub-title {
  font-size:80px;
  text-anchor: middle;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.highlight {
  fill: #008080;
  font-weight: bold;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;

}
